# 변수와 자료형

'변수명' = data  
변수는 RAM에 저장됨

In [320]:
abc = 12340
print(abc)

12340

In [5]:
print(abc * 1/2)
print(abc * 1/4)
print(abc * 1/5)

6170.0
3085.0
2468.0

### 변수명 규칙
- 문자, 숫자, _ 를 이용하여 생성
- 대소문자 구분
- 숫자로 시작할 수 없음
- 공백 포함 불가
- 밑줄 이외 기호 사용 불가
- 예약어는 사용 불가: None, True, False, and, as, assert, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield

In [6]:
print('Hello World')

Hello World

In [117]:
string3 = 'This is a "double" quotation test'
string4 = "This is a 'single' quotation test"
print(string3)
print(string4)

# 문자열 안에 큰따옴표 / 작은 따옴표 포함하기

This is a "double" quotation test
This is a 'single' quotation test

In [118]:
long_string1 = '''[삼중 작은따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.''' 

long_string2 = """[삼중 큰따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.""" 

print(long_string1)  

print(long_string2)

# 줄바꿈이 가능

[삼중 작은따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.
[삼중 큰따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.

### 문자열 다루기

In [119]:
a = 'Enjoy '
b = 'python! '
c = a + b
print(c)

Enjoy python!

In [23]:
print(c * 3)

Enjoy python! Enjoy python! Enjoy python!

## 리스트(List)

- 리스트의 입력 순서대로 순서가 바뀌지 않고 고정됨
- 빈리스트 만들기 : 대괄호를 이용해 만들기 ([ ])

In [311]:
# 1번 학생의 국어, 영어, 수학, 과학 시험 점수가 각각 90, 95, 85, 80

student1 = [90, 95, 85, 80]
student1

[90, 95, 85, 80]

In [312]:
type(student1)

list

In [313]:
student1[0]

# 맨 앞에서 첫번째 항목

90

In [314]:
student1[-1]

# 맨 뒤에서 첫번째 항목

80

In [315]:
# 두번째 항목에 새로운 데이터로 할당

student1[1] = 100
student1

[90, 100, 85, 80]

In [316]:
student1[0] = 60
student1

[60, 100, 85, 80]

In [317]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
myFriends

['James', 'Robert', 'Lisa', 'Mary']

In [90]:
print(myFriends[3])
print(myFriends[-2])

Mary
Lisa

In [91]:
myFriends[3]

'Mary'

In [93]:
print(myFriends[3])

Mary

In [107]:
mixedList = [0, 2, 3.14, [10, 20, 30, 40]]
mixedList[3]

[10, 20, 30, 40]

In [111]:
mixedList[2] = [5,6,7]
mixedList

# 리스트 항목에 리스트 넣기

[0, 2, [5, 6, 7], [10, 20, 30, 40]]

In [114]:
mixedList[2][-1]

# 리스트 안의 리스트의 항목 불러오기

7

In [115]:
mixedList[3][2]

30

In [129]:
list_data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list_data)
print(list_data[0:3])
print(list_data[4:8])
print(list_data[:3])
print(list_data[7:])
print(list_data[::2])  

print(list_data[:5:2]) # 처음부터 시작하여 6번째 항목까지, 2씩 증가
print(list_data[2::3]) # 세번째부터 끝까지 3씩 증가
print(list_data[4:8:3]) # 다섯번째부터 아홉번째까지 3씩 증가

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2]
[7, 8, 9]
[0, 2, 4, 6, 8]
[0, 2, 4]
[2, 5, 8]
[4, 7]

In [130]:
print(list_data)
del list_data[6] # 7번째 항목을 삭제하라
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 7, 8, 9]

In [131]:
list_data1 = [1, 2, 3, 4, 5]
print(5 in list_data1)
print(6 in list_data1) # 항목이 list_data1에 있는지 확인하여 True, False로 반환

True
False

## 리스트 메서드

In [218]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']

### 1. 항목 추가

In [219]:
myFriends.append('Thomas') # 맨 뒤에 항목 추가
print(myFriends)

myFriends.insert(1,'Paul') # 특정 위치에 항목 추가
print(myFriends)

myFriends.extend(['Laura','Betty']) # 맨 뒤에 여러 항목 추가
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary', 'Thomas']
['James', 'Paul', 'Robert', 'Lisa', 'Mary', 'Thomas']
['James', 'Paul', 'Robert', 'Lisa', 'Mary', 'Thomas', 'Laura', 'Betty']

### 2. 항목 삭제

In [220]:
myFriends.append('Laura')
print(myFriends)

myFriends.remove('Laura') # 입력값과 첫번째로 일치하는 항목 삭제
print(myFriends)

myFriends.pop() # 맨 뒤 항목 제거
print(myFriends)

['James', 'Paul', 'Robert', 'Lisa', 'Mary', 'Thomas', 'Laura', 'Betty', 'Laura']
['James', 'Paul', 'Robert', 'Lisa', 'Mary', 'Thomas', 'Betty', 'Laura']
['James', 'Paul', 'Robert', 'Lisa', 'Mary', 'Thomas', 'Betty']

### 3.정렬

In [221]:
myFriends.sort() # 리스트 항목을 순방향으로 정렬
print(myFriends)

myFriends.reverse() # 리스트 항목을 역순으로 정렬
print(myFriends)

['Betty', 'James', 'Lisa', 'Mary', 'Paul', 'Robert', 'Thomas']
['Thomas', 'Robert', 'Paul', 'Mary', 'Lisa', 'James', 'Betty']

### 4. 위치 / 개수 반환

In [222]:
print(myFriends)
myFriends.index('Lisa') # 인자과 일치하는 첫 번째 항목의 위치 반환

['Thomas', 'Robert', 'Paul', 'Mary', 'Lisa', 'James', 'Betty']

4

In [223]:
print(myFriends)
myFriends.count('Mary') # 인자와 일치하는 항목의 개수를 반환

['Thomas', 'Robert', 'Paul', 'Mary', 'Lisa', 'James', 'Betty']

1

## 튜플(Tuple)

- 튜플의 항목은 숫자, 문자열, 불, 리스트, 튜플, 세트, 딕셔너리 등으로 만들 수 있음.
- 튜플 데이터는 한번 입력하면 그 이후 변경 불가 > 요소를 변경할 필요가 없거나, 변경할 수 없도록 할 때 사용
- 소괄호를 사용하거나, 괄호를 사용하지 않고 입력

In [224]:
tuple1 = (1,2,3,4)
tuple1

(1, 2, 3, 4)

In [225]:
type(tuple1)

tuple

In [227]:
tuple2 = (1,)
tuple2

# 요소가 하나만 있는 튜플은 콤마로 마무리

(1,)

In [231]:
list_abc = [1,2,3,4,5]
list_abc

[1, 2, 3, 4, 5]

In [232]:
list_abc[2] = 700
list_abc

# 리스트는 요소 변경 가능

[1, 2, 700, 4, 5]

In [233]:
tuple_abc = (1,2,3,4,5)
tuple_abc

(1, 2, 3, 4, 5)

In [234]:
tuple_abc[2] = 700
tuple_abc

#튜플은 요소 변경 불가능

TypeError: 'tuple' object does not support item assignment

## 세트(set)

- 수학의 집합개념
- 교집합, 합집합, 차집합을 구하는 메서드 사용 가능

> 교집합 : A.intersection(B) / &  
> 합집합 : A.union(B) / |  
> 차집합 : A.difference(B) / -

In [241]:
set1 = {1, 2, 3}
set1a = {1, 2, 3, 3}

print(set1)
print(set1a)

{1, 2, 3}
{1, 2, 3}

In [250]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8, 9, 10}

A.intersection(B)

{4, 5}

In [248]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [249]:
A.difference(B)

{1, 2, 3}

### 리스트, 튜플, 세트 변환

In [274]:
a = [1,2,3,4,5]
print(a)
type(a)

[1, 2, 3, 4, 5]

list

In [275]:
b = tuple(a) # list a를 튜플 b로 변환
print(b)
type(b)

(1, 2, 3, 4, 5)

tuple

In [276]:
c = set(a) #list a 를 세트 a로 변환
print(c)
type(c)

{1, 2, 3, 4, 5}

set

In [267]:
d = [1,2,3,3,3,3,5]
d

[1, 2, 3, 3, 3, 3, 5]

In [270]:
e = set(d)
e

{1, 2, 3, 5}

## 리스트, 튜플, 세트의 비교

리스트 | 튜플 | 세트
--- | --- | ---
[ ] | ( ) / None | { }
요소변경 가능 | 불가능 |
중복요소 가능 | 가능 | 불가능
데이터순서 있음 | 있음 | 없음
상호 변환 가능

## 딕셔너리(Dictionary)

- key와 value가 항상 쌍으로 구성
- 인덱스 대신 key를 이용해 값을 다룸
- key : 임의로 지정한 숫자나 문자열이 될 수 있음
- value : 어떤 데이터 타입도 가능
- 데이터 전체를 ({ })로 감싸서 만듦

In [279]:
country_capital = {'영국':'런던', '프랑스':'파리', '스위스':'베른', '호주':'멜버른', '덴마크':'코펜하겐'}
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}

In [280]:
type(country_capital)

dict

In [281]:
country_capital['영국'] # 지정한 키의 값만 반환

'런던'

In [282]:
dict_data1 = {1:'버스', 3:'비행기', 4:'택시', 5:'자전거'}
dict_data1

{1: '버스', 3: '비행기', 4: '택시', 5: '자전거'}

In [283]:
dict_data1[3] # 키 3에 해당하는 '비행기'가 반환 / 위치가 아님!!!!

'비행기'

In [284]:
dict_data2 = {1:10, 2: 20, 3:30, 4: 40, 5:50}
print(dict_data2)
print(dict_data2[4])

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}
40

In [287]:
dict_data3 = {'list_data1':[11, 12, 13], 'list_data2':[21, 22, 23]}
print(dict_data3)
print(dict_data3['list_data2'])

{'list_data1': [11, 12, 13], 'list_data2': [21, 22, 23]}
[21, 22, 23]

In [288]:
mixed_dict = {1:10, 'dict_num':{1:10, 2:20}, 'dict_list_tuple':{'A':[11,12,13], 'B':(21, 22, 23)}, 'dict_string':'이것은 책입니다.'}
mixed_dict

{1: 10,
 'dict_num': {1: 10, 2: 20},
 'dict_list_tuple': {'A': [11, 12, 13], 'B': (21, 22, 23)},
 'dict_string': '이것은 책입니다.'}

In [289]:
country_capital['독일'] = '베를린'
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐', '독일': '베를린'}

In [290]:
country_capital['호주'] = '캔버라'
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '덴마크': '코펜하겐', '독일': '베를린'}

In [291]:
del country_capital['덴마크']
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '독일': '베를린'}

### 딕셔너리 메서드

- keys() : key 전체를 리스트 형태로 반환
- values() : value 전체를 리스트 형태로 반환
- items() : key와 value 쌍을 (key, value)처럼 튜플 형태로 반환
- update(dict_data2) : 딕셔너리 데이터('dict_data2') 추가
- clear() : 모든 항목 삭제

In [3]:
fruit_code = {'사과':100, '배':102, '딸기':103, '포도':104, '바나나':105}

In [301]:
print(fruit_code.keys())

dict_keys(['사과', '배', '딸기', '포도', '바나나'])

In [302]:
print(fruit_code.values())

dict_values([100, 102, 103, 104, 105])

In [303]:
print(fruit_code.items())

dict_items([('사과', 100), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

In [4]:
# list로 변환
list(fruit_code.keys())

['사과', '배', '딸기', '포도', '바나나']

In [5]:
list(fruit_code.values())

[100, 102, 103, 104, 105]

In [6]:
list(fruit_code.items())

[('사과', 100), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)]

In [7]:
fruit_code2 = {'오렌지':106, '수박':107}

In [8]:
fruit_code.update(fruit_code2)
fruit_code

{'사과': 100, '배': 102, '딸기': 103, '포도': 104, '바나나': 105, '오렌지': 106, '수박': 107}

In [9]:
fruit_code2.clear()
print(fruit_code2)
type(fruit_code2)

{}

dict