# 함수(기능)

## 함수의 정의와 호출

In [7]:
def my_func():
    print('My first function!')
    print('첫 번째 함수')
    
# 인자/ 반환값 없음

In [8]:
def my_func_abc(a, b, c): #인자
    d = a + b + c
    return d         # 반환값

In [9]:
my_func()

My first function!
첫 번째 함수

In [12]:
# 함수 정의

def my_friend(friendName)
    print('{}는 나의 친구입니다.'.format(friendName))

In [18]:
# 함수 호출

my_friend('철수')
my_friend('영희')

철수는 나의 친구입니다.
영희는 나의 친구입니다.

In [22]:
def my_student_info(name, school_ID, phoneNumber):
    print('------------------------')  # ('*****************************') 
    print('- 학생이름:', name)         # ('* 학생이름:', name)
    print('- 학급번호:', school_ID)    # ('* 학급번호:', school_ID)
    print('- 전화번호:', phoneNumber)  # ('* 전화번호:', phoneNumber) 로 양식 변경 가능

In [23]:
my_student_info('현아','01','01-235-6789')

------------------------
- 학생이름: 현아
- 학급번호: 01
- 전화번호: 01-235-6789

In [24]:
def my_calc(x,y): # 인자
    z = x*y
    return z      # 반환값

In [25]:
my_calc(3,4)

12

In [36]:
def my_student_info_list(student_info):
    print('*****************************') 
    print('* 학생이름:', student_info[0])
    print('* 학급번호:', student_info[1])
    print('* 전화번호:', student_info[2])
    print('*****************************')

In [44]:
student1_info = ['현아','01','01-235-6789']  # 인자가 리스트임
my_student_info_list(student1_info)

*****************************
* 학생이름: 현아
* 학급번호: 01
* 전화번호: 01-235-6789
*****************************

In [45]:
my_student_info_list(['진수','02','01-987-6543']) # 리스트를 바로 인자로 지정

*****************************
* 학생이름: 진수
* 학급번호: 02
* 전화번호: 01-987-6543
*****************************

## 변수의 유효 범위

- 지역변수(local variable) : 함수 안에서 정의한 변수로 함수 영역 안에서만 동작
- 전역변수(global variable) : 함수 밖에서 생성한 변수로 코드 내 어디서나 사용 가능

In [5]:
a = 5                                   # 전역 변수를 선언

def func1():
    a = 1
    print('[func1] 지역변수 a =', a)
    
def func2():
    a = 2
    print('[func2] 지역변수 a =', a)    # 함수 안에서 지역변수를 설정

def func3():
    print('[func3] 전역변수 a =', a)    # 지역변수 설정이 없으므로 전역변수를 불러옴
    
def func4():
    global a                            # 전역변수를 불러옴
    a = 4                               # 전역변수를 변경함
    print('[func4] 전역변수 a =', a)

In [6]:
print('전역변수 a =', a)

func1()
func2()
func3()
func4()

print('전역변수 a =', a) # def func4()에서 전역변수를 변경하여 적용됨

전역변수 a = 5
[func1] 지역변수 a = 1
[func2] 지역변수 a = 2
[func3] 전역변수 a = 5
[func4] 전역변수 a = 4
전역변수 a = 4

### 람다(lambda) 함수

- 한 줄로 함수 표현
- 기본 구조 : lambda<인자> : <인자 활용 수행 코드>


- 1회용 함수 : (lambda <인자> : <인자 활용 수행 코드>)(<인자>)
- 다회용 함수: lambda_function = lambda <인자> : <인자 활용 수행 코드>

In [5]:
(lambda x : x ** 2)(3)       # 람다함수 / 인자에 각각 소괄호

9

In [9]:
mysquare = lambda x : x ** 2  # 소괄호 안해도 됨
mysquare(2)

4

In [10]:
mysquare(6)

36

In [11]:
mySimpleFunc = lambda x,y,z : 2*x + 3*y + z
mySimpleFunc(1,2,3)

11

### 내장 함수

1. 형변환 함수  

    1) 정수형으로 변환 int()    : int(0.123), int(3.54)  
    2) 실수형으로 변환 float()  : float(0), float(123)  
    3) 문자형으로 변환 str()    : str(123), str(0.3456)  
    4) 리스트, 튜플, 세트형으로 변환 :  
       * list((1,2,3)) / ({1,2,3})
       * tuple([1,2,3]) / ({1,2,3})
       * set([1,2,3]) / ((1,2,3))

2. bool 함수(True, False)  

    1) 숫자를 인자로 bool 함수 호출 : bool(0)    # 0 이외의 숫자는 모두 True 반환  
    2) 문자를 인자로 bool 함수 호출 : bool('a')  # bool(''), bool(None)은 False 반환 / bool(' ') 공백은 문자이므로 True  
    3) 리스트, 튜플, 세트를 인자로 bool 함수 호출 : 각 인자에 항목이 없으면 False 반환

In [29]:
def print_name(name):
    if bool(name):
        print('입력된 이름:', name)
    else:
        print('입력된 이름이 없습니다.')

In [30]:
print_name('James')

입력된 이름: James

In [31]:
print_name('')

입력된 이름이 없습니다.

# 8/1 추가

### 최소값과 최대값

- 최소값 : [min()]
- 최대값 : [max()]

숫자, 문자 모두 가능

In [9]:
# 리스트

myNum = [10, 5, 12, 0, 3.5, 99.5, 42]
[min(myNum), max(myNum)]

[0, 99.5]

In [8]:
myStr = 'zxyabc'
[min(myStr), max(myStr)]

['a', 'z']

In [12]:
# 튜플

myNum = (10, 5, 12, 0, 3.5, 99.5, 42)
[min(myNum), max(myNum)]

[0, 99.5]

In [13]:
myNum = {'Abc', 'abc', 'bcd', 'efg'}
[min(myNum), max(myNum)]

['Abc', 'efg']

### 절대값과 전체 합

- 절대값: [abs(값)]
- 전체합: sum(sumList)

In [14]:
[abs(10), abs(-10)]

[10, 10]

In [15]:
[abs(2.45), abs(-2.45)]

[2.45, 2.45]

In [17]:
sumList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum(sumList)

55

### 항목의 개수

- len()

In [18]:
len('ab cd') # 공백도 글자수에 포함

5

In [19]:
len([1, 2, 3, 4, 5, 6, 7, 8,]) # 리스트

8

In [20]:
len((1,2,3,4,5)) # 튜플

5

In [21]:
len({'a','b','c','d'}) # 세트

4

In [22]:
len({1: 'Thomas', 2:'Edward', 3:'Herry'}) # 딕셔너리

3

### 내장 함수의 활용

In [24]:
# 시험점수는 각 90, 80, 95, 85 / 합계와 평균을 구하라.

# 1. sum(), len() 사용 X

scores = [90, 80, 95, 85]

score_sum = 0
subject_num  = 0
for score in scores:
    score_sum = score_sum + score
    subject_num = subject_num + 1
    
average = score_sum / subject_num

print('총점:{0}, 평균: {1}'.format(score_sum, average))

총점:350, 평균: 87.5

In [27]:
# 2. sum(), len() 내장함수 사용

scores = [90, 80, 95, 85]

print('총점:{0}, 평균:{1}'.format(sum(scores), sum(scores)/len(scores)))

총점:350, 평균:87.5

In [28]:
# 최소값/ 최대값 구하기

print('최하점수: {0}, 최고점수: {1}'.format(min(scores), max(scores)))

최하점수: 80, 최고점수: 95

In [33]:
# 여러명인 경우 / 리스트 안에 리스트 삽입 가능

score_table = [
    [90, 80, 95, 85],
    [60, 85, 75, 95],
    [98, 80, 76, 92]]

for score_list in score_table:
    print('총점:{0}, 평균:{1}'.format(sum(score_list), sum(score_list)/len(score_list)))

총점:350, 평균:87.5
총점:315, 평균:78.75
총점:346, 평균:86.5