 sample로 시작!
**CRUD : create, read, update, delete**

## 날짜 연산

- SELECT CURRENT_TIMESTAMP;
- SELECT CURRENT_DATE + INTERVAL 1DAY;

## CASE 문으로 데이터 변환하기

- SELECT 열명( as '별명'),
    CASE
    WHEN 조건식1 THEN 식1
    WHEN 조건식2 THEN 식2...
    ELSE 식3
  END as '열명' from 테이블명;
  
- SELECT a, CASE WHEN a IS NULL THEN 0 ELSE a END 'a(null=0)' FROM sample37;

## 행 추가하기
#### INSERT INTO 테이블명(열1, 열2, ..) VALUES(값1, 값2, ...);

## 삭제하기
####  DELETE FROM 테이블명 WHERE 조건식;

## 데이터 갱신하기
#### UPDATE 테이블명 SET 열1 = 값1, 열2 = 값2...WHERE 조건식
ex) update sample41 set b = '2014-09-07' where no=2;  
ex) update sample41 set no = no + 1; **(일괄 업데이트)**  
ex) update sample41 set a = 'xxx', b = '2014-01-01 where no = 2; **(복수열 갱신)**

## NULL로 갱신하기
#### UPDATE 테이블명 SET 열1 = NULL;

## 물리삭제와 논리삭제






# 5. 집계와 서브쿼리


## 행개수 구하기
####  select **count(*)** from 테이블명;  
- NULL 값이 있는 경우, count되지 않음

- SELECT **SUM(열명)** FROM 테이블명;
- SELECT **AVG(열명), SUM(열명)/COUNT(열명)** FROM 테이블명;
- SELECT **MIN(열명), MAX(열명)** FROM 테이블명;
- SELECT **DISTINCT 열명** FROM 테이블명; 중복 제거


## 그룹화 Group by
- **SELECT 열명 FROM 테이블명 GROUP BY 열명;**
- **SELECT 열명 FROM 테이블명 GROUP BY 열명 HAVING 조건식;**


- **ex) SELECT name, count(name), sum(quantity) FROM sample51 GROUP BY name ORDER BY sum(quantity) DESC;**  
-- name을 기준으로 grouping 하고, sum(quantity)기준으로 내림차순 정렬


## 서브쿼리: SQL 명령문 안에 지정하는 하부 SELECT 명령으로 괄호를 묶어 지정
- DELETE FROM 테이블명 WHERE 열명 = (SELECT 하부명령);
- '스칼라값'을 반환하다.: SELECT 명령이 하나의 값만 반환하는 것




- INSERT INTO 테이블명 select 값1, 값2;

## 상관 서브쿼리: EXISTS(SELECT 명령)

- 두개의 테이블을 서로 참조하여 한 쪽 테이블의 값을 변경
- UPDATE 테이블명1 SET 열명='변경값' WHERE  
   EXISTS/NOT EXISTS (SELECT *FROM 테이블명2 WHERE 열명2 = 열명1);
   

# 6장. 데이터베이스 객체 작성과 삭제

## 테이블 작성/삭제/변경
- CREATE TABLE 테이블명(열 정의1, 열 정의2 ... )
- DROP TABLE 테이블명: 테이블 삭제
- TRUNCATE TABLE 테이블명 : 행 삭제
- ALTER TABLE 테이블 하부명령 : 테이블 변경

인덱스 ==> 쿼리의 성능/속도가 빨라짐.

In [1]:
pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3
Note: you may need to restart the kernel to use updated packages.

https://github.com/PyMySQL/PyMySQL


DB 테이블을 DataFrame으로 읽어오는 방법  
: https://swalloow.github.io/db-to-dataframe

In [16]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='1234',
                             db='db',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

try:
    with connection.cursor() as cursor:
        # Create a new record
        sql = "INSERT INTO `users` (`email`, `password`) VALUES (%s, %s)"
        cursor.execute(sql, ('webmaster@python.org', 'very-secret'))

    # connection is not autocommit by default. So you must commit to save
    # your changes.
    connection.commit()

    with connection.cursor() as cursor:
        # Read a single record
        sql = "SELECT `id`, `password` FROM `users` WHERE `email`=%s"
        cursor.execute(sql, ('webmaster@python.org',))
        result = cursor.fetchone()
        print(result)
finally:
    connection.close()

{'id': 1, 'password': 'very-secret'}