# 구조적 데이터 표시와 처리에 강한 pandas


- NumPy 기반으로 만들어졌지만, 좀 더 복잡한 데이터 분석에 특화
- NumPy : 데이터 타입의 배열만 처리 <-> Pandas: 데이터 타입이 다양하게 섞여도 ok
- NumPy는 array부터 만들듯, pandas는 series부터 만들기.
- **Series() : Series형식의 구조적 데이터(라벨을 갖는 1차원 데이터)를 생성 / 별도의 설정이 없으면 기본 index는 0~**
- 첫번째 열은 index, 두번째 열 values

https://blog.naver.com/sundooedu/221332109897

## Series를 활용한 데이터 생성

In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([10,20,30,40,50])
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
s1.index
print(s1.index)  # 0부터 시작하여 5번째까지, 1칸씩
s1.values        # Numpy의 배열과 형식이 동일

RangeIndex(start=0, stop=5, step=1)

array([10, 20, 30, 40, 50], dtype=int64)

In [7]:
s2 = pd.Series(['a', 'b', 'c', 1, 2, 3])
s2       # Numpy는 한가지 유형으로(정수/실수) 만드는 것에 반해, pandas는 그대로 반환

0    a
1    b
2    c
3    1
4    2
5    3
dtype: object

In [8]:
import numpy as np

s3 = pd.Series([np.nan,10,30])   # 첫번째 원소값이 없는 경우
s3

0     NaN
1    10.0
2    30.0
dtype: float64

In [13]:
s6 = pd.Series([0,10,30])  # 첫번째 원소값이 0
s6

0     0
1    10
2    30
dtype: int64

In [11]:
s4 = pd.Series([np.array(1),10,30])
s4

0     1
1    10
2    30
dtype: object

In [16]:
index_date = ['2018-10-07', '2018-10-08', '2018-10-9', '2018-10-10']
s5 = pd.Series([200, 195, np.nan, 205], index = index_date)  
s5    # 세번째 원소값이 없어 비어있으며, 이는 다른 값들과 같은 실수(float) 형태

2018-10-07    200.0
2018-10-08    195.0
2018-10-9       NaN
2018-10-10    205.0
dtype: float64

In [17]:
index_date = ['2018-10-07', '2018-10-08', '2018-10-9', '2018-10-10']
s7 = pd.Series([200, 195, 'None', 205], index = index_date)
s7

2018-10-07     200
2018-10-08     195
2018-10-9     None
2018-10-10     205
dtype: object

In [20]:
s8 = pd.Series({'국어': 70, '영어': 95, '체육': 100})
s8

국어     70
영어     95
체육    100
dtype: int64

## 날짜 자동 생성 : date_range

- 입력 가능 형태  
   yyyy/mm/dd  
   yyyy.mm.dd  
   mm-dd-yyyy  
   mm/dd/yyyy  
   mm.dd.yyyy  
 

- 출력 형태 : yyyy-mm-dd

In [22]:
import pandas as pd
pd.date_range(start='2019-01-01', end='2019-01-07')

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07'],
              dtype='datetime64[ns]', freq='D')

In [23]:
pd.date_range(start='2019/01/01', end='2019.01.07')

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07'],
              dtype='datetime64[ns]', freq='D')

In [24]:
pd.date_range(start='2019/01/01', periods = 7)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07'],
              dtype='datetime64[ns]', freq='D')

In [25]:
pd.date_range(start='2019-01-01', periods = 4, freq = '2D')  # 4개의 기간을, 2일 단위로 반환

DatetimeIndex(['2019-01-01', '2019-01-03', '2019-01-05', '2019-01-07'], dtype='datetime64[ns]', freq='2D')

In [31]:
pd.date_range(start='2019-01-01', periods = 4, freq = '3B') # 업무일 기준

DatetimeIndex(['2019-01-01', '2019-01-04', '2019-01-09', '2019-01-14'], dtype='datetime64[ns]', freq='3B')

In [27]:
pd.date_range(start='2019-01-01', periods = 4, freq = 'w') # 일요일 시작 기준 일주일 주기

DatetimeIndex(['2019-01-06', '2019-01-13', '2019-01-20', '2019-01-27'], dtype='datetime64[ns]', freq='W-SUN')

In [32]:
pd.date_range(start='2019-01-01', periods = 12, freq = 'M') # 월말 날짜 기준

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31'],
              dtype='datetime64[ns]', freq='M')

In [35]:
pd.date_range(start='2019-01-01', periods = 12, freq = 'BM') #업무 월말 날짜 기준

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-29', '2019-04-30',
               '2019-05-31', '2019-06-28', '2019-07-31', '2019-08-30',
               '2019-09-30', '2019-10-31', '2019-11-29', '2019-12-31'],
              dtype='datetime64[ns]', freq='BM')

In [37]:
pd.date_range(start='2019-01-01', periods = 12, freq = 'MS') # 월초 날짜 기준

DatetimeIndex(['2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [38]:
pd.date_range(start='2019-01-01', periods = 12, freq = 'BMS') # 업무 월초 날짜 기준

DatetimeIndex(['2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-03', '2019-07-01', '2019-08-01',
               '2019-09-02', '2019-10-01', '2019-11-01', '2019-12-02'],
              dtype='datetime64[ns]', freq='BMS')

In [39]:
pd.date_range(start='2019-01-01', periods = 4, freq = 'Q') # 분기 끝 날짜 기준

DatetimeIndex(['2019-03-31', '2019-06-30', '2019-09-30', '2019-12-31'], dtype='datetime64[ns]', freq='Q-DEC')

In [40]:
pd.date_range(start='2019-01-01', periods = 4, freq = 'BQ') # 업무 분기 끝 날짜 기준

DatetimeIndex(['2019-03-29', '2019-06-28', '2019-09-30', '2019-12-31'], dtype='datetime64[ns]', freq='BQ-DEC')

In [41]:
pd.date_range(start='2019-01-01', periods = 4, freq = 'QS') # 분기 시작 날짜 기준

DatetimeIndex(['2019-01-01', '2019-04-01', '2019-07-01', '2019-10-01'], dtype='datetime64[ns]', freq='QS-JAN')

In [42]:
pd.date_range(start='2019-01-01', periods = 4, freq = 'BQS') # 업무 분기 시작 날짜 기준

DatetimeIndex(['2019-01-01', '2019-04-01', '2019-07-01', '2019-10-01'], dtype='datetime64[ns]', freq='BQS-JAN')

In [43]:
pd.date_range(start='2019-01-01', periods = 4, freq = 'A') # 일년 끝 날짜 기준

DatetimeIndex(['2019-12-31', '2020-12-31', '2021-12-31', '2022-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [44]:
pd.date_range(start='2019-01-01', periods = 4, freq = 'BA') # 업무 일년 끝 날짜 기준

DatetimeIndex(['2019-12-31', '2020-12-31', '2021-12-31', '2022-12-30'], dtype='datetime64[ns]', freq='BA-DEC')

In [45]:
pd.date_range(start='2019-01-01', periods = 4, freq = 'AS') # 일년 날짜 시작 기준

DatetimeIndex(['2019-01-01', '2020-01-01', '2021-01-01', '2022-01-01'], dtype='datetime64[ns]', freq='AS-JAN')

In [47]:
pd.date_range(start='2019-01-01', periods = 4, freq = 'BAS') # 업무 일년 시작 날짜 기준

DatetimeIndex(['2019-01-01', '2020-01-01', '2021-01-01', '2022-01-03'], dtype='datetime64[ns]', freq='BAS-JAN')

In [64]:
pd.date_range(start='2019-01-01 09:00', periods = 4, freq = '3H') #  시간 기준

DatetimeIndex(['2019-01-01 09:00:00', '2019-01-01 12:00:00',
               '2019-01-01 15:00:00', '2019-01-01 18:00:00'],
              dtype='datetime64[ns]', freq='3H')

In [66]:
pd.date_range(start='2019-01-01 09:00', periods = 4, freq = '3BH') #  업무 시간 기준(9:00-17:00)

DatetimeIndex(['2019-01-01 09:00:00', '2019-01-01 12:00:00',
               '2019-01-01 15:00:00', '2019-01-02 10:00:00'],
              dtype='datetime64[ns]', freq='3BH')

In [69]:
pd.date_range(start='2019-01-01 09:00', periods = 6, freq = '30T') #  분 주기

DatetimeIndex(['2019-01-01 09:00:00', '2019-01-01 09:30:00',
               '2019-01-01 10:00:00', '2019-01-01 10:30:00',
               '2019-01-01 11:00:00', '2019-01-01 11:30:00'],
              dtype='datetime64[ns]', freq='30T')

In [68]:
pd.date_range(start='2019-01-01 09:00', periods = 6, freq = '30min') #  분 주기

DatetimeIndex(['2019-01-01 09:00:00', '2019-01-01 09:30:00',
               '2019-01-01 10:00:00', '2019-01-01 10:30:00',
               '2019-01-01 11:00:00', '2019-01-01 11:30:00'],
              dtype='datetime64[ns]', freq='30T')

In [67]:
pd.date_range(start='2019-01-01 09:00', periods = 4, freq = '20S') #  초 주기

DatetimeIndex(['2019-01-01 09:00:00', '2019-01-01 09:00:20',
               '2019-01-01 09:00:40', '2019-01-01 09:01:00'],
              dtype='datetime64[ns]', freq='20S')

In [71]:
index_date = pd.date_range(start = '2019-03-01', periods = 5, freq='D')
pd.Series([51, 62, 55, 49, 58], index = index_date)

2019-03-01    51
2019-03-02    62
2019-03-03    55
2019-03-04    49
2019-03-05    58
Freq: D, dtype: int64

## DataFrame을 활용한 데이터생성

- 2차원 데이터 처리를 위한 DataFrame

In [79]:
import pandas as pd

pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]]) # 맨 윗줄은 Columns / 맨 앞줄은 index / 각 값은 values

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [80]:
import numpy as np
import pandas as pd

data_list = np.array([[10, 20, 30], [40,50,60],[70,80,90]]) 
pd.DataFrame(data_list)    # np.array를 DataFrame으로 변환할 수 있다.

    0   1   2
0  10  20  30
1  40  50  60
2  70  80  90

In [85]:
import numpy as np
import pandas as pd

data = np.array([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])
index_date = pd.date_range('2019-09-01', periods=4)
columns_list = ['A', 'B', 'C']

pd.DataFrame(data, index = index_date, columns = columns_list)

             A   B   C
2019-09-01   1   2   3
2019-09-02   4   5   6
2019-09-03   7   8   9
2019-09-04  10  11  12

#### 딕셔너리 형태를 자동으로 DateFrame 변환하는 방법

In [89]:
table_data = {'연도': [2015, 2016, 2016, 2017, 2017],
              '지사': ['한국', '한국', '미국', '한국', '미국'],
             '고객수': [200, 250, 450, 300, 500]}   
table_data

{'연도': [2015, 2016, 2016, 2017, 2017],
 '지사': ['한국', '한국', '미국', '한국', '미국'],
 '고객수': [200, 250, 450, 300, 500]}

In [90]:
pd.DataFrame(table_data)

     연도  지사  고객수
0  2015  한국  200
1  2016  한국  250
2  2016  미국  450
3  2017  한국  300
4  2017  미국  500

In [92]:
df = pd.DataFrame(table_data, columns = ['지사','연도','고객수']) # columns 의 순서를 바꿀 수 있음.
df

   지사    연도  고객수
0  한국  2015  200
1  한국  2016  250
2  미국  2016  450
3  한국  2017  300
4  미국  2017  500

In [93]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [94]:
df.columns

Index(['지사', '연도', '고객수'], dtype='object')

In [95]:
df.values   # NumPy 형태로 저장되어 있음!

array([['한국', 2015, 200],
       ['한국', 2016, 250],
       ['미국', 2016, 450],
       ['한국', 2017, 300],
       ['미국', 2017, 500]], dtype=object)

#### excercise1)

In [106]:
table_train = {'경부선KTX': [42005, 43621, 41702, 41266],
               '호남선KTX': [6873, 6626, 8675, 10622],
               '경진선KTX': [4088, 4424, 4606, 4984]}
table_train

{'경부선KTX': [42005, 43621, 41702, 41266],
 '호남선KTX': [6873, 6626, 8675, 10622],
 '경진선KTX': [4088, 4424, 4606, 4984]}

In [105]:
import numpy as np
import pandas as pd

index_train = [2013, 2014, 2015, 2016]
columns_train = ['경진선KTX','호남선KTX','경부선KTX']

pd.DataFrame(table_train, index = index_train, columns = columns_train)

      경진선KTX  호남선KTX  경부선KTX
2013    4088    6873   42005
2014    4424    6626   43621
2015    4606    8675   41702
2016    4984   10622   41266