In [11]:
import pandas as pd
import numpy as np

pd.read_csv('C:\myPyCode\data\coffeeShopSales1.txt', encoding = "cp949")

  날짜 에스프레소 아메리카노 카페라테 카푸치노
0     10.15 10 50 45 20
1        10.16 12 45 41 18
2        10.17 11 53 32 25
3        10.18 15 49 38 22

In [15]:
%%writefile C:\myPyCode\data\coffeShopSales2.csv
날짜, 에스프레소, 아메리카노, 카페라테, 카푸치노
10.15, 10, 50, 45, 20   
10.16, 12, 45, 41, 18
10.17, 11, 53, 32, 25
10.18, 15, 49, 38, 22

Overwriting C:\myPyCode\data\coffeShopSales2.csv

In [16]:
import pandas as pd

pd.read_csv('C:\myPyCode\data\coffeShopSales2.csv')  # 문자열로 삽입됨.

      날짜   에스프레소   아메리카노   카페라테   카푸치노
0  10.15      10      50     45     20
1  10.16      12      45     41     18
2  10.17      11      53     32     25
3  10.18      15      49     38     22

In [17]:
pd.read_csv('C:/myPyCode/data/coffeShopSales2.csv', index_col="날짜" )

        에스프레소   아메리카노   카페라테   카푸치노
날짜
10.15      10      50     45     20
10.16      12      45     41     18
10.17      11      53     32     25
10.18      15      49     38     22

In [18]:
df1 = pd.read_csv('C:/myPyCode/data/coffeShopSales2.csv', index_col="날짜" )

In [19]:
pd.DataFrame(df1)

        에스프레소   아메리카노   카페라테   카푸치노
날짜
10.15      10      50     45     20
10.16      12      45     41     18
10.17      11      53     32     25
10.18      15      49     38     22

In [20]:
df1.mean()

 에스프레소    12.00
 아메리카노    49.25
 카페라테     39.00
 카푸치노     21.25
dtype: float64

In [21]:
df1.sum()

 에스프레소     48
 아메리카노    197
 카페라테     156
 카푸치노      85
dtype: int64

In [22]:
df1.describe()

           에스프레소      아메리카노       카페라테       카푸치노
count   4.000000   4.000000   4.000000   4.000000
mean   12.000000  49.250000  39.000000  21.250000
std     2.160247   3.304038   5.477226   2.986079
min    10.000000  45.000000  32.000000  18.000000
25%    10.750000  48.000000  36.500000  19.500000
50%    11.500000  49.500000  39.500000  21.000000
75%    12.750000  50.750000  42.000000  22.750000
max    15.000000  53.000000  45.000000  25.000000

# 파일 수정 후 다시 txt 파일 불러옴

In [37]:
pd.read_csv('C:\myPyCode\data\coffeeShopSales3.txt', encoding = "cp949", index_col = '날짜')

       에스프레소  아메리카노  카페라테  카푸치노
날짜
10.15     10     50    45    20
10.16     12     45    41    18
10.17     11     53    32    25
10.18     15     49    38    22